@import 'vars';

.container{
    margin: $mb_auto;
    padding: 0 $pd_block;
    max-width: 1530px;
}

.title{
    font-weight: $bolder_font_weight;
    color: $primary_color;
    margin-bottom: 15px;
    transition: 0.4s ease;
    & h1{
        font-size: $h1_font_size;
    }
    & h2{
        font-size: $h2_font_size;
    }
    & h3{
        font-size: $h3_font_size;
    }
}

.info{
    font-size: $p_font_size;
    font-weight: $light_font_weight;
    margin-top:5px;
    color: $secondary_color;
    line-height: 22px;
    transition: 0.4s ease;
}

.sub-info{
    font-size: $input_font_size;
    font-weight: $light_font_weight;
    margin-top: 5px;
    color: $primary_color;
    cursor: pointer;
}

.sub-title h1{
    font-size: $input_font_size;
    font-weight: $bold_font_weight;
    color: $primary_color;
    // letter-spacing: 1.2px;
    text-transform: uppercase;
}

.inner{
    padding: $pd-big;
    &-mini{
        padding: $pd-block;
    }
}

form{
    margin-top: 40px;
}

section{
    &.loading{
        padding-left: 0;
    }
}