// @import 'adaptive';
@import 'vars';
@import 'reset';
@import 'global';

aside {
    width: 340px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z_fixed;
    border-right: 2px solid $bg_color_lighter;

    & .aside__inner {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 110px);
        justify-content: space-between;
    }
}

.aside__settings {
    &-link {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 30px;
        color: $secondary_color;
        transition: all 0.2s ease-in-out;

        &.active {
            color: $primary_color;
            border-left: 5px solid $primary_color;

            & svg {
                fill: $primary_color;
            }
        }

        &:hover {
            color: $primary_color;

            & svg {
                fill: $primary_color;
            }
        }

        &_img {
            margin-right: 20px;
            display: flex;
            align-items: center;

            & svg {
                width: 23px;
                height: 23px;
                fill: $secondary_color;
                transition: all 0.2s ease-in-out;
            }
        }
    }

    &-signout {
        cursor: pointer;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        margin: 30px;

        &_img {
            margin-right: 20px;

            & svg {
                width: 35px;
                height: 35px;
            }
        }
    }
}

.aside__auth {

    &-steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    &-step {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;

        &_left {
            width: 25%;
        }

        &_right {
            width: 75%;
        }

        &_circle {
            border-radius: 50%;
            background-color: $bg_color;
            color: $secondary_color;
            border: 1px solid $secondary_color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            width: 30px;
            height: 30px;
            font-size: $p_font_size;
            font-weight: $medium_font_weight;

            &.active {
                background-color: $primary_color;
                color: $bg_color;
                border: 1px solid $primary_color;
            }
        }

        &.active {
            & .aside__auth-step_circle {
                background-color: $primary_color;
                color: $bg_color;
                border: 1px solid $primary_color;
            }
        }
    }
}



.login {
    padding-left: 340px;

    &__inner {
        &.inner {
            padding: $pd_medium_bottom;
        }
    }

    &__form {

        max-width: 600px;
        &-input {
            & input {
                width: 100%;
            }
        }

        &-button {
            width: 100%;
        }

        &-note {
            float: right;
            margin-top: 15px;
        }
    }
}

.register {
    padding-left: 340px;

    &__inner {
        &.inner {
            padding: $pd_medium_bottom;
        }
    }

    &__form {
        max-width: 600px;

        &-input {
            & input {
                width: 100%;
            }
        }

        &-select {
            & select {
                width: 100%;
            }
        }

        &-button {
            width: 100%;
        }

        &-note {
            float: right;
            margin-top: 15px;
        }

        // &-preview{

        // }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            & img {
                border-radius: 50%;
                width: 300px;
                height: 300px;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: $z_fixed;
    background-color: $bg_color;
    // transform: translateY(-200%);
    // transition: all 0.6s;

    // &.active{
    //     transform: translateY(0%);
    //     opacity: 1;
    // }

    & .header {
        &__inner {
            height: 110px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__menu {
            text-align: center;

            &-list {
                display: flex;
                align-items: center;

                &_item {
                    margin-right: 30px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &_link {
                    text-transform: uppercase;
                    font-size: 14px;

                    & svg {
                        width: 25px;
                        height: 25px;
                    }

                    & img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                    }
                }
            }
        }

        &__logo {
            &-title {
                margin-bottom: 0;
            }
        }
    }
}

.settings {
    &__inner {
        &.inner {
            padding: $pd_medium_bottom;
        }
    }

    padding-left: 340px;

    &__down {
        margin-top: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        width: 100%;

        &-input {
            width: 48%;
            margin-bottom: 10px;

            & input,
            & select {
                margin-top: 5px;
                width: 100%;
            }
        }

        &-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 300px;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            &_input {
                cursor: pointer;
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 50% !important;
                background-color: $primary_color  !important;
                right: -15px;
                bottom: -15px;
                font-size: 0 !important;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    background-image: url('../assets/pencil.svg');
                    background-size: cover;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &-buttons {
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            float: right;
        }
    }

    &__block {
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }

    &__left {
        width: 65%;
    }

    &__right {
        width: 30%;
    }

    &__banners {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__banner {
        width: 100%;
        padding: $pd_plate;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px solid $bg_color_lighter;
        border-radius: $plate_radius;
        margin-bottom: 60px;
        transition: all 0.2s ease-in-out;

        &-title {
            margin-bottom: 20px;
        }

        &:hover {
            border: 2px solid $primary_color;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        z-index: 998;

        &-window {
            position: fixed;
            padding: $pd_block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: $z_modal;
            background-color: $bg_color;
            border-radius: $plate_radius;
            min-width: 370px;
        }

        &-form {
            &_input {
                & input {
                    width: 100%;
                }
            }

            &_button {
                width: 100%;
            }
        }

        &-close {
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: $z_modal;

    &__inner {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            width: 70px;
            height: 70px;
            border: 7px solid $bg_color_lighter;
            border-top-color: $primary_color;
            border-radius: 50%;
            animation: loading 1s linear infinite;
        }
    }

    @keyframes loading {
        to {
            transform: rotate(1turn);
        }
    }
}

.notification {
    background-color: $primary_color;
    padding: 20px 25px;
    border-radius: 12px;
    margin-bottom: 20px;
    width: 300px;
    animation: left 0.4s;
    animation-fill-mode: forwards;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        margin-bottom: 7px;

        h1 {
            color: $bg_color;
        }
    }

    &__info {
        p {
            color: $secondary_color;
        }
    }

    &__list {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 300px;
        z-index: 999;
    }

    &.exit {
        animation: right 0.4s;
        animation-fill-mode: forwards;
    }

    &__line {
        height: 4px;
        border-radius: 20px;
        background-color: $bg_color;
        margin-top: 10px;
    }

    @keyframes left {
        0% {
            margin-left: 120%;
        }

        100% {
            margin-left: 0;
        }
    }

    @keyframes right {
        0% {
            margin-left: 0;
        }

        100% {
            margin-left: 120%;
        }
    }
}

.hero {
    &__inner {
        &.inner {
            padding: $pd_medium_bottom;
        }
    }

    &__collection {
        // padding: 40px 60px;
        width: 100%;
        display: none;

        &.active {
            display: block;
        }

        &-img {
            & img {
                border-radius: 20px;
            }
        }
    }

    &__collections {
        position: relative;

        &-arrow {

            &_left,
            &_right {
                width: 50px;
                height: 50px;
                background-color: $bg_color;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                border-radius: 50%;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                & svg {
                    width: 20px;
                    height: 20px;
                    fill: $secondary_color;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    & svg {
                        fill: $primary_color;
                    }
                }
            }

            &_left {
                left: -25px;

                & svg {
                    transform: rotate(180deg);
                }
            }

            &_right {
                right: -25px;
            }
        }
    }
}

.trendings {
    // background-color: $bg_color_lighter;
    &__title {
        &.title {
            text-align: center;
        }
    }
}

.newarrivals {

    // background-color: $bg_color_lighter;
    &__title {
        &.title {
            text-align: center;
        }
    }
}

.product {
    width: 340px;
    height: 390px;
    border: 2px solid $bg_color_lighter;
    border-radius: 40px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    transition: 0.3s all;
    position: relative;
    &__top {
        flex: 1 1 auto;
        position: relative;
        padding: 5px 0;

        &-brand {
            font-weight: $medium_font_weight;
        }

        &-category {
            font-size: 16px;
            font-weight: $lighter_font_weight;
            color: $bg_color_darker;
            margin-bottom: 5px;
        }

        &-line {
            position: absolute;
            width: 5px;
            height: 100%;
            border-radius: 30px;
            left: -37px;
            top: 0;
            opacity: 0.8;
        }
    }

    &__middle {
        flex: 1 0 auto;
        &-img {
            margin-top: 10px;

            & img {
                width: 100%;
            }
        }

        &-name {
            font-size: $p_font_size;
        }
    }

    &__bottom {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        &-colorway {
            &_title {
                font-size: 16px;
                font-weight: $lighter_font_weight;
                color: $bg_color_darker;
                margin-bottom: 5px;
            }
            &_list{
                margin-top: 10px;
                display: flex;
                align-items: center;
            }
            &_item{
                margin-right: 10px;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &-price{
            margin-top: 5px;
            &_title{
                font-size: 16px;
                font-weight: $lighter_font_weight;
                color: $bg_color_darker;
                margin-bottom: 5px;
            }
            &_value{
                margin-top: 10px;
                font-weight: $medium_font_weight;
            }
        }
    }
    &__favourites{
        position: absolute;
        top: 35px;
        right: 35px;
        width: 40px;
        height: 40px;
        border-radius: 12px;
        background-color: $favourites_color_lighter;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        &-img{
            display: flex;
            align-items: center;
            justify-content: center;
            & svg{
                width: 23px;
                height: 23px;
                & g{
                    stroke:$favourites_color;
                    stroke-width:70; 
                }
                & path{
                    fill: transparent;
                }
            }
            &.active{
                & svg{
                    & path{
                        fill: $favourites_color;
                    }
                }
            }
        }
    }
    &:hover{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
}