@import 'reset';
@import 'vars';
@import 'global';

.aside {
    width: 340px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: $z_fixed;
    border-right: 2px solid $bg_color_lighter;

    &__inner {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 120px);
        justify-content: space-between;
    }

    &__steps {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }

    &__step {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;

        &-left {
            margin-right: 35px;
        }

        &-circle {
            border-radius: 50%;
            background-color: $bg_color;
            color: $secondary_color;
            border: 1px solid $secondary_color;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            width: 30px;
            height: 30px;

            &.active {
                background-color: $primary_color;
                color: $bg_color;
                border: 1px solid $primary_color
            }
        }
    }

    &__nav {
        &-link {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 30px;
            color: $secondary_color;
            transition: all 0.2s ease-in-out;

            &.active {
                color: $primary_color;
                border-left: 5px solid $primary_color;

                & .aside__nav-link-img svg {
                    fill: $primary_color;
                }
            }

            &:hover {
                color: $primary_color;

                & .aside__nav-link-img svg {
                    fill: $primary_color;
                }
            }

            &-img {
                margin-right: 20px;
                display: flex;
                align-items: center;

                & svg {
                    width: 23px;
                    height: 23px;
                    fill: $secondary_color;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }

    &__signout {
        cursor: pointer;
        justify-self: flex-end;
        display: flex;
        align-items: center;
        margin: 30px;

        &-img {
            margin-right: 20px;

            & svg {
                width: 35px;
                height: 35px;
            }
        }
    }
}

.login {
    margin-left: 340px;

    &__form {
        max-width: 600px;

        &-input {
            & input {
                width: 100%;
            }
        }

        &-button {
            width: 100%;
        }

        &-note {
            float: right;
            margin-top: 15px;
        }
    }
}

.register {
    margin-left: 340px;

    &__form {
        max-width: 600px;

        &-input {
            & input {
                width: 100%;
            }
        }

        &-select {
            & select {
                width: 100%;
            }
        }

        &-button {
            width: 100%;
        }

        &-note {
            float: right;
            margin-top: 15px;
        }

        // &-preview{

        // }
        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 30px;

            & img {
                border-radius: 50%;
                width: 300px;
                height: 300px;
            }
        }
    }
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: $z_fixed;
    background-color: $bg_color;

    & .header__inner {
        height: 120px;
        padding: $pd_small;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    & .header__account {
        position: relative;

        &-img {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            & img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }
        }
    }

    & .header__logo {
        &-title {
            margin-bottom: 0;
        }
    }
}

.settings {
    // margin-left: 340px;
    padding-left: 340px;

    &__down {
        margin-top: 30px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__form {
        width: 100%;

        &-input {
            width: 48%;
            margin-bottom: 10px;

            & input,
            & select {
                margin-top: 5px;
                width: 100%;
            }
        }

        &-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            height: 300px;

            & img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            &-input {
                cursor: pointer;
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 50% !important;
                background-color: $primary_color  !important;
                right: -15px;
                bottom: -15px;
                font-size: 0 !important;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 30px;
                    height: 30px;
                    background-image: url('../assets/pencil.svg');
                    background-size: cover;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &-buttons {
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            float: right;
        }
    }

    &__block {
        display: flex;
        // align-items: center;
        justify-content: space-between;
    }

    &__left {
        width: 65%;
    }

    &__right {
        width: 30%;
    }

    &__banners {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__banner {
        width: 100%;
        padding: $pd_plate;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border: 2px solid $bg_color_lighter;
        border-radius: $plate_radius;
        margin-bottom: 60px;
        transition: all 0.2s ease-in-out;

        &-title {
            margin-bottom: 20px;
        }

        &:hover {
            border: 2px solid $primary_color;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.25);
        z-index: 998;

        &-window {
            position: fixed;
            padding: $pd_block;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: $z_modal;
            background-color: $bg_color;
            border-radius: $plate_radius;
            min-width: 370px;
        }

        &-form{
            &-input{
                & input{
                    width: 100%;
                }
            }
            &-button{
                width: 100%;
            }
        }

        &-close{
            width: 20px;
            height: 20px;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
        }
    }
}

.password {
    margin-left: 340px;
}

.payment {
    margin-left: 340px;
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: $z_modal;

    &__inner {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            content: '';
            width: 70px;
            height: 70px;
            border: 7px solid $bg_color_lighter;
            border-top-color: $primary_color;
            border-radius: 50%;
            animation: loading 1s linear infinite;
        }
    }

    @keyframes loading {
        to {
            transform: rotate(1turn);
        }
    }
}